<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>952844103852-bq8on6fi4sda5t73srcf4qokeib66kkv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.952844103852-bq8on6fi4sda5t73srcf4qokeib66kkv</string>
	<key>API_KEY</key>
	<string>AIzaSyCbg_t-_UIHnF-CO3e-r-FZnfY-e1cH55Y</string>
	<key>GCM_SENDER_ID</key>
	<string>952844103852</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sba7</string>
	<key>PROJECT_ID</key>
	<string>sba7-ed3fd</string>
	<key>STORAGE_BUCKET</key>
	<string>sba7-ed3fd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:952844103852:ios:7f5a0a137076f8f7edaf09</string>
</dict>
</plist>